<font color="red"> Exercise 1</font>

In [1]:
print(7*2)

14

In [2]:
pow(9,2)

81

In [2]:
print ((9**2)/(2**2))

20.25

In [4]:
91%2

1

In [ ]:
dept =  'Department for International Development'
dept.lower().replace('department', 'dept').count('d')

In [2]:
import random
num1=random.randrange(3, 9)
num2=random.randrange(32, 95)

print ("Total is:", num1 + num2)

Total is: 69

<font color="red"> Exercise 2</font>

In [6]:
word1='python'
word1[-3:]

'hon'

In [1]:
word2 = "pynative"
print (word2[1:3])

yn

In [2]:
'y' in 'pynative'

True

In [3]:
word2 = "pynative"
print(len(word2))

8

In [5]:
dept1 = 'foreign office'
dept2 = 'national statistics'
dept1 =dept1.split(" ")
dept2 = dept2 + " " + dept1[1]
print (dept2)

national statistics office

<font color="red"> Exercise 3 </font>

In [10]:
route1 = [['Glasgow', '09:00'],['Falkirk', '10:00'],['Edinburgh', '10:30']]
print (route1[2])

['Edinburgh', '10:30']

In [ ]:
print(len(route1))

In [12]:
from datetime import timedelta
t1 = timedelta(hours = int(route1[2][1][0:2]), minutes = int(route1[2][1][-2:]))
t2 = timedelta(hours = int(route1[0][1][0:2]), minutes = int(route1[0][1][-2:]))

In [14]:
print(t1-t2)

1:30:00

In [ ]:
list1 =  [1, 5, 8, 3] 
if 3 in list1:
    print('present')

In [11]:
tuple(list1)[1] = 3

NameError: name 'list1' is not defined

In [21]:
import math

point1 =[5,5]
point1 = tuple(point1)
point2 = [10,10]
point2 = tuple (point2)
print(round(math.sqrt((point2[0] - point1[0])**2 + (point2[1] - point1[1])**2),2))

7.07

<font color="red"> Exercise  4 </font>

In [13]:
student_names=['Tom', 'Peter', 'Jane']
modules =['FC107', 'FC106','MST123'] 

student_mod = list(zip(student_names, modules))

In [14]:
student_mod

[('Tom', 'FC107'), ('Peter', 'FC106'), ('Jane', 'MST123')]

In [16]:
dict1 = {}
for value in student_mod:
    if value not in dict1.keys():
        dict1[value[0]]= value[1]
print (dict1)

{'Tom': 'FC107', 'Peter': 'FC106', 'Jane': 'MST123'}

In [31]:
'Tom' in dict1.keys()

True

In [6]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}  

dic1.update(dic2)
dic1.update(dic3)

In [35]:
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
print(sum(dic1.values()))

210

In [37]:
len(dict1)

3

<font color="red"> Exercise  5 </font>

In [2]:
thislist = ["apple", "banana", "cherry"]

In [6]:
for value, index in  enumerate (thislist):
    print (value, index)

0 apple
1 banana
2 cherry

In [8]:
list1 = [11, 12, 13, 14, 15, 16]
list2=[]
for num in list1:
    list2.append((num)**2)
print (list2)

[121, 144, 169, 196, 225, 256]

In [14]:
#list comprehensions
list2  = [x**2 for x in list1]
print (list2)

[121, 144, 169, 196, 225, 256]

In [3]:
#odd and even
odd = []
even = []
for i in range (1, 101):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print (odd)
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
countries = []
cont = 'yes'
while cont == 'yes' or cont == 'y' or cont =='Y':
    country = input("Add Country")
    countries.append(country)
    cont = input("Would you like to continue (Y/y/yes) - to continue")

In [10]:
dict_text = {}
text1 = 'The cat sat on the mat'
text1 = text1.lower().split(" ")
print(text1)

['the', 'cat', 'sat', 'on', 'the', 'mat']

In [21]:
dict_text = {}
text1 = 'The cat sat on the mat'
text1 = text1.lower().split(" ")

for word in text1:
    if word in dict_text.keys():
        dict_text[word] = dict_text[word] + 1
    else:
        dict_text[word] = 1
print (dict_text)

{'the': 2, 'cat': 1, 'sat': 1, 'on': 1, 'mat': 1}

<font color="red"> Exercise  6 </font>

In [22]:
def mult(p1, p2):
    return p1*p2
print(mult(2,3))

6

In [25]:
import math
def pythagorean(aside, bside):
    return(math.sqrt((aside)**2 + (bside)**2))
print (pythagorean(5,7))

8.602325267042627

In [48]:
def remove_stopwords(ptext, pstop):
    ptext = ptext.lower().split(" ")
    
    for index in range(len(ptext)-1,-1,-1):
         
         if ptext[index] in pstop:
            ptext.remove(ptext[index])
           
      
    ptext = " ".join(ptext)
    return ptext   

print (remove_stopwords('This is a lovely cat. She has a long, furry tail', ['a','is','has']))

this lovely cat. she long, furry tail